@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

// Your existing SCSS styles
@import '../../styles/variables.scss';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0; // Remove default margins
  padding: 0; // Remove default padding
}

.anasayfa {
  background-color: $color-white;
  padding: 0; // Ensure no padding

  .section-separator_1, .section-separator {
    height: 10px;
    background-color: $color-new-blue3;
    margin: 50px 0;
  }

  .carousel-background {
    position: relative;
    width: 100%;
    height: auto;
  }

  .news-title {
    grid-column: 1 / -1;
    color: $color-ter-blue;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .hizmetlerimiz-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: $color-new-blue3;
    justify-content: center;

    .hizmet-item {
      background-color: $color-white;
      border: 1px solid $color-dark-grey;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      p {
        padding: 10px;
        color: $color-dark-grey;
        font-size: 16px;
        text-align: center;
      }
    }

    .arrow-button {
      background-image: linear-gradient(135deg, $color-new-blue3, $color-new-hover1);
      color: $color-white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;

      &:hover {
        background-image: linear-gradient(135deg, $color-new-hover1, $color-new-blue3);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        transform: translateY(-3px);
      }
    }
  }

  .news-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

    .news-title {
      flex-basis: 100%;
      color: $color-ter-blue;
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }

    .news-item {
      background-color: $color-light-grey;
      padding: 10px;
      border-radius: 8px;
      flex: 1 1 calc(33.333% - 20px); // For three columns
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 4px;
        flex-grow: 1;
      }

      p {
        color: $color-dark-grey;
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }

  @media (max-width: 1024px) {
    .news-section .news-item {
      flex: 1 1 calc(50% - 20px); // For two columns
    }
  }

  @media (max-width: 768px) {
    .news-section .news-item {
      flex: 1 1 calc(100% - 20px); // For single column
    }
  }
}

